################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/computer_arch_3/v15/Browse.VC.opendb
